/* by damnitjoshua */
body {
	font-family: "Arial", sans-serif;
	text-align: center;
	padding: 20px;
	min-width: 300px;
	max-width: 1000px;
	overflow: auto;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
